:root {
	--color-1: #09141d;
	--color-2: #141f29;
	--color-3: #ffffff;
	--color-4: #ffffff98;
	--color-5: #60D17D;
	--color-6: #76ff98;
	--color-7: #243341;
	--color-8: #000000;
	--color-9: #384b5f;
	--color-10: #1d2a36;
	--color-11: #d4d4d4;
	--color-12: #dfdfdf;
	--color-13: #c7c7c7;
	--color-14: #63778d;
	--color-15: #b8b8b8;
	--color-16: #dcf4ff;
	--color-17: #7b868b;

	--animate-in: 0.8s;
}

* {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

::selection {
	background-color: var(--color-5);
	color: #000000;
}

html {
	font-size: 100%;
}

body {
	font-family: "Quicksand", sans-serif;
	overflow-x: hidden;
}

.header {
	position: fixed;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.0);
	background-color: transparent;
	transition: box-shadow 0.2s ease, background-color 0.2s ease, opacity var(--animate-in) ease;
}

.header.active {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	background-color: var(--color-1);
}

.navbar {
	width: 100%;
	max-width: 1200px;
	display: flex;
	gap: 20px;
	position: relative;
	margin: 0 18px;
}

.navbar > .logo {
	user-select: none;
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--color-6);
	text-decoration: none;
	transition: transform 0.2s ease, opacity var(--animate-in) ease;
	display: flex;
}

.navbar > .logo > .last {
	color: transparent;
	transition: transform 0.3s ease, color 0.3s ease, opacity var(--animate-in) ease;
	transform: translate(-5px);
}

.navbar > .logo > .last.active {
	color: var(--color-6);
	transform: translateX(5px);
}

.navbar > .links {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	gap: 20px;
}

.navbar > .sm_links {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 14px;
}

.navbar > .links a, .navbar > .sm_links a {
	text-decoration: none;
	color: var(--color-4);
	transition: transform 0.2s ease, color 0.2s ease, opacity var(--animate-in) ease;
	font-weight: 600;
}

.navbar > .links a {
	font-size: 1.05rem;
}

.navbar > .sm_links a {
	font-size: 1.5rem;
}

.navbar > .links a:hover {
	transform: scale(1.08);
	color: var(--color-3);
}

.navbar > .sm_links a:hover {
	transform: scale(1.15);
	color: var(--color-3);
}

.navbar > .links a.active {
	transform: scale(1.1);
	color: var(--color-6);
}

.navbar > #menu-bar {
	color: var(--color-4);
	font-size: 1.3rem;
	align-self: center;
	display: none;
	margin-left: auto;
	transition: transform 0.2s ease, color 0.2s ease, opacity var(--animate-in) ease;
}

.navbar > #menu-bar.active {
	transform: scale(1.1);
	color: var(--color-3);
}

.sidebar {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100vw;
	height: calc(100vh - 60px);
	min-height: 600px;
	background: var(--color-1);
	z-index: 99;
	transform: translateX(100%);
	transition: transform 0.3s ease, opacity var(--animate-in) ease;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 50px;
	display: flex;
}

.sidebar.active {
	transform: translateX(0);
}

.sidebar > .links {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.sidebar > .links a {
	text-decoration: none;
	color: var(--color-4);
	transition: transform 0.2s ease, color 0.2s ease, opacity var(--animate-in) ease;
	font-weight: 600;
	font-size: 2rem;
}

.sidebar > .links a {
	text-decoration: none;
	color: var(--color-4);
	transition: transform 0.2s ease, color 0.2s ease, opacity var(--animate-in) ease;
	font-weight: 500;
	font-size: 2rem;
}

.sidebar > .sm_links {
	display: flex;
	gap: 16px;
}

.sidebar > .sm_links a {
	text-decoration: none;
	color: var(--color-4);
	transition: transform 0.2s ease, color 0.2s ease, opacity var(--animate-in) ease;
	font-weight: 600;
	font-size: 2rem;
}

.sidebar > .links a:hover {
	transform: scale(1.08);
	color: var(--color-3);
}

.sidebar > .sm_links a:hover {
	transform: scale(1.15);
	color: var(--color-3);
}

.sidebar > .links a.active {
	transform: scale(1.1);
	color: var(--color-6);
}

.sections {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
}

section {
	width: 100%;
	display: flex;
	justify-content: center;
}

section > .content {
	width: 100%;
	max-width: 1200px;
	height: 100vh;
	min-height: 600px;
	display: flex;
	margin: 0 18px;
}

#particles-js {
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -99;
}

#home > .content {
	margin: 0;
	justify-content: center;
	align-items: center;
	gap: 16px;
	position: relative;
}

#home > .content > .text_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: fit-content;
	width: 600px;
}

#home > .content > .text_container > .description {
	margin-left: 20px;
	margin-right: 20px;
    position: relative;
    font-size: 1.3rem;
    color: var(--color-3);
    font-weight: 510;
    text-align: center;
}

#home > .content > .text_container > .heading {
	width: fit-content;
    position: relative;
    font-size: 1.8rem;
    color: var(--color-6);
    font-weight: 500;
    text-align: center;
	margin-bottom: 14px;
}

#home > .content > .text_container > .heading::before,
#home > .content > .text_container > .heading::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 140px;
    height: 3px;
	border-radius: 10px;
}

#home > .content > .text_container > .heading::before {
    left: -150px;
    background: linear-gradient(to left, var(--color-6), transparent);
}

#home > .content > .text_container > .heading::after {
    right: -150px;
    background: linear-gradient(to right, var(--color-6), transparent);
}


#home > .content > .text_container > .name {
	font-size: 7.1rem;
	font-weight: 350;
	color: var(--color-3);
}

#home > .content > .text_container > .links {
	margin-top: 18px;
	gap: 16px;
	display: flex;
}

#home > .content > .text_container > .links a {
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease, border 0.2s, opacity var(--animate-in) ease;
    font-weight: 500;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#home > .content > .text_container > .links > .c_link {
	color: var(--color-3);
	background-color: var(--color-7);
}

#home > .content > .text_container > .links > .p_link {
	background-color: var(--color-6);
	color: var(--color-8);
	font-weight: 550;
}

#home > .content > .text_container > .links .p_link:hover {
	transform: scale(1.06);
}

#home > .content > .text_container > .links .c_link:hover {
	transform: scale(1.06);
	background-color: var(--color-9);
}

#publications > .content {
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#publications > .content h1 {
    margin-top: 90px;
    color: var(--color-3);
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
}

#publications > .content h1::after {
    position: absolute;
    content: "";
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 2px;
    background-color: var(--color-6);
}

.pub-placeholder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pub-placeholder p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-4);
}


#projects > .content {
	flex-direction: column;
	align-items: center;
	height: auto;
}

#projects > .content h1 {
	margin-top: 90px;
	color: var(--color-3);
	font-size: 2.5rem;
	font-weight: 500;
	position: relative;
}

#projects > .content h1::after {
	position: absolute;
	content: "";
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
	height: 2px;
	background-color: var(--color-6);
}

#projects > .content > .description {
	margin-top: 40px;
	color: var(--color-3);
	font-size: 1.1rem;
	font-weight: 500;
	text-align: center;
}

#projects > .content > .grid {
	margin-top: 40px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(auto, auto);
	gap: 26px;
}

#projects > .content > .grid > .card {
	background-color: var(--color-2);
	border-radius: 6px;
	transition: transform 0.2s ease, background-color 0.2s ease, opacity var(--animate-in) ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	padding: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 450px;
}

#projects > .content > .grid > .card:hover {
	background-color: var(--color-10);
	transform: scale(1.02);
}

#projects > .content > .grid > .card > .image_container {
	width: 100%;
	height: 256px;
	overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
	border-radius: 6px;
}

#projects > .content > .grid > .card > .image_container img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
}

#projects > .content > .grid > .card > .card-header {
	margin-top: 16px;
	display: flex;
	width: 100%;
	gap: 10px;
}

#projects > .content > .grid > .card > .card-header > .project-name {
	font-weight: 650;
	color: var(--color-5);
	font-size: 1.3rem;
}

#projects > .content > .grid > .card > .card-header > .project-date {
	color: var(--color-12);
	font-size: 1rem;
	font-weight: 650;
	padding: 4px 8px;
	width: fit-content;
	background-color: #1e2e3d;
	border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#projects > .content > .grid > .card p {
	font-size: 1.1rem;
	margin-top: 16px;
	font-weight: 550;
	color: var(--color-11);
	margin-bottom: 16px;
}

#projects > .content > .grid > .card > .footer {
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: calc(100% - 40px);
	gap: 10px;
	align-items: center;
}

#projects > .content > .grid > .card > .footer > .tag {
	color: var(--color-13);
	font-weight: 650;
	padding: 4px 8px;
	width: fit-content;
	background-color: var(--color-9);
	border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#projects > .content > .grid > .card > .e_link {
	font-size: 1.6rem;
	color: var(--color-4);
	padding: 0;
	background-color: transparent;
	position: absolute;
	bottom: 20px;
	right: 20px;
	transition: transform 0.2s ease, color 0.2s ease, opacity var(--animate-in) ease;
}

#projects > .content > .grid > .card > .e_link:hover {
	color: var(--color-3);
	transform: scale(1.1);
}

#skills > .content {
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
    height: auto;
}

#skills > .content h1 {
	margin-top: 90px;
	color: var(--color-3);
	font-size: 2.5rem;
	font-weight: 500;
	position: relative;
}

#skills > .content h1::after {
	position: absolute;
	content: "";
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
	height: 2px;
	background-color: var(--color-6);
}

#skills > .content > .description {
	margin-top: 40px;
	color: var(--color-3);
	font-size: 1.1rem;
	font-weight: 500;
	text-align: center;
}

#skills > .content > .grid {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 26px;
	width: 100%;
}

#skills > .content > .grid > .card {
	background-color: var(--color-2);
	border-radius: 6px;
	transition: transform 0.2s ease, background-color 0.2s ease, opacity var(--animate-in) ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	padding: 20px;
	display: flex;
	flex-direction: column;
	min-height: 310px;
}

#skills > .content > .grid > .card:hover {
	background-color: var(--color-10);
	transform: scale(1.02);
}

#skills > .content > .grid > .card h2 {
	font-weight: 550;
	color: var(--color-11);
	font-size: 1.5rem;
	align-self: center;
}

#skills > .content > .grid > .card h2 i {
	color: var(--color-5);
}

#skills > .content > .grid > .card > .items {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#skills > .content > .grid > .card > .items > .item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#skills > .content > .grid > .card > .items > .item h3 {
	font-weight: 600;
	color: var(--color-15);
	font-size: 1.2rem;
	gap: 14px;
	display: flex;
	align-items: flex-end;
}

#skills > .content > .grid > .card > .items > .item > h3 > i {
	font-size: 1.4rem;
}

#skills > .content > .grid > .card > .items > .item > .progress-dots {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: flex-end;
	margin-right: 8px;
}

#skills > .content > .grid > .card > .items > .item > .progress-dots > .dot {
	width: 10px;
	height: 10px;
	background-color: var(--color-14);
	border-radius: 20px;
}

#skills > .content > .grid > .card > .items > .item > .progress-dots > .dot.active {
	background-color: var(--color-3)
}

#contact > .content {
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

#contact > .content h1 {
	margin-top: 90px;
	color: var(--color-3);
	font-size: 2.5rem;
	font-weight: 500;
	position: relative;
}

#contact > .content h1::after {
	position: absolute;
	content: "";
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
	height: 2px;
	background-color: var(--color-6);
}

#contact > .content > .sub-container {
	width: 100%;
	max-width: 500px;
	margin-top: 100px;
	height: 60%;
	max-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#contact > .content > .sub-container > #icon {
	color: var(--color-5);
	font-size: 4rem;
}

#contact > .content > .sub-container > .h-text {
	margin-top: 20px;
	color: var(--color-6);
	font-size: 1.4rem;
	font-weight: 600;
}

#contact > .content > .sub-container > .c-text {
	margin-top: 16px;
	color: var(--color-3);
	font-size: 1.2rem;
	font-weight: 500;
	margin-left: 20px;
	margin-right: 20px;
}

#contact > .content > .sub-container > .links {
	margin-top: 24px;
	gap: 16px;
	display: flex;
}

#contact > .content > .sub-container > .links a {
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease, border 0.2s, opacity var(--animate-in) ease;
    font-weight: 500;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
	color: var(--color-3);
	background-color: var(--color-7);
}

#contact > .content > .sub-container > .links a:hover {
	transform: scale(1.06);
	background-color: var(--color-9);
}

#contact > .content > .footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 200px;
	width: 100%;
	padding-bottom: 20px;
}

#contact > .content > .footer img {
    transform: translateY(70%) scaleX(1.6);
	z-index: -1;
}

#contact > .content > .footer h2 {
	font-size: 2rem;
	font-weight: 600;
	color: var(--color-5);
	width: fit-content;
}

#contact > .content > .footer > .p-1 {
	margin-top: 5px;
	font-size: 1rem;
	font-weight: 600;
	color: var(--color-3);
}

#contact > .content > .footer > .p-2 {
	margin-top: 10px;
	font-size: 0.7rem;
	font-weight: 600;
	margin-left: 20px;
	margin-right: 20px;
	color: var(--color-17);
	text-align: center;
}

@media only screen and (max-width: 650px) {
	.navbar > #menu-bar {
		display: block;
	}

	.navbar > .sm_links, .navbar > .links {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	#home > .content > .text_container > .name {
		font-size: 6rem;
		transform: scale(0.96);
	}
	#home > .content > .text_container > .heading::before {
		left: -100px;
		width: 90px;
	}
	
	#home > .content > .text_container > .heading::after {
		right: -100px;
		width: 90px;
	}

	#home > .content > .text_container > .description {
		font-size: 1.1rem;
		margin-left: 30px;
		margin-right: 30px;
	}

	#home > .content > .text_container > .links {
		transform: scale(0.95);
	}	
}

@media only screen and (max-width: 460px) {
	#home > .content > .text_container > .name {
		font-size: 5.8rem;
	}
	#home > .content > .text_container > .heading {
		font-size: 1.2rem;
	}

	#home > .content > .text_container > .description {
		font-size: 1rem;
	}

	#home > .content > .text_container > .links {
		transform: scale(0.85);
	}	
	
	#home > .content > .text_container > .heading::before {
		left: -120px;
		width: 110px;
	}
	
	#home > .content > .text_container > .heading::after {
		right: -120px;
		width: 110px;
	}
}

@media only screen and (max-width: 1000px) {
	#projects > .content > .grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto, auto);
	}
}

@media only screen and (max-width: 1090px) {
	#skills > .content > .grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto, auto);
	}
}

@media only screen and (max-width: 700px) {
	#projects > .content > .grid {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(auto, auto);
	}
}

@media only screen and (max-width: 710px) {
	#skills > .content > .grid {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(auto, auto);
	}
}

.animate-me {
	transition: opacity var(--animate-in) ease;
	opacity: 0;
}

.animate-me.animate-in {
	opacity: 1;
}
